# dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.*

# next.js
.next/
out/

# production
/build

# env
.env
.env*.local
!.env.example
config/ticqex.config.json

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo

# supabase
.branches
.temp
supabase/.branches
supabase/.temp

# trigger.dev
.trigger/
